@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Hiba";
}

<header>

</header>
<div class="h-100 d-flex align-items-center justify-content-center">
    <div>
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">Nincs jogosultságod ehhez a művelethez</p>
    </div>
</div>
