@model IEnumerable<BDELog.Models.qryBd>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>BDE Followup</h1>

<p>
    <a asp-action="Create">Új hozzáadása</a>
</p>


<style>
    *{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

    .search-input, .form-select {
        font-size: 10px;
        padding-top: 2px;
        padding-bottom: 2px;
    }

body{
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
        background: #F8F8F8;
}
h2{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
}

/* Table Styles */

.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none ;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4D4D4D;
}


/*.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}*/

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}
</style>


@*<div id="toolbar">
    <div class="form-inline" role="form">
        <div class="form-group">
            <span>From Date </span>
            <input name="date1" class="form-control w70" type="date">
        </div>
        <div class="form-group">
            <span>To Date </span>
            <input name="date2" class="form-control w70" type="date">
        </div>
        <button id="ok" type="submit" class="btn btn-primary">OK</button>
    </div>
</div>
*@
<div class="table-responsive text-nowrap">
    <table class="table fl-table"
           id="table"
           data-url="api/biqrybd"
           data-toolbar="#toolbar"
           data-show-export="true"
           data-toggle="table"
           data-sort-class="table-active"
           data-sortable="true"
           data-show-columns="true"
           data-filter-control="true"
           data-show-search-clear-button="true"
           data-filter-control-multiple-search="true"
           data-locale="hu-HU"
           data-pagination="true">

        <thead>
            <tr>
                <th data-sortable="true"
                    data-filter-control="input"
                    data-field="bdId">
                    ID
                </th>
                <th data-sortable="true"
                    data-filter-control="input"
                    data-field="bdStartdate">
                    Hiba kezdete
                </th>
                <th data-sortable="true"
                    data-filter-control="input"
                    data-field="bdStopdate">
                    Hiba vége
                </th>
                <th data-sortable="true"
                    data-filter-control="input"
                    data-field="areaName">
                    Terület Neve
                </th>
                <th data-sortable="true"
                    data-filter-control="input"
                    data-field="cellNoName">
                    Cella
                </th>
                <th data-sortable="true"
                    data-filter-control="input"
                    data-field="mcName">
                    Gép
                </th>
                <th data-sortable="true"
                    data-filter-control="input"
                    data-field="unitName">
                    Gépegyég
                </th>
                <th data-sortable="true"
                    data-filter-control="input"
                    data-field="unitSAP">
                    Gépegység kód
                </th>
                <th data-sortable="true"
                    data-filter-control="input"
                    data-field="subName">
                    Alegység
                </th>
                <th data-sortable="true"
                    data-filter-control="input"
                    data-field="subSAP">
                    Alegység kód
                </th>
                <th data-sortable="true"
                    data-filter-control="select"
                    data-field="bdEm">
                    E/G
                </th>
                <th data-sortable="true"
                    data-filter-control="select"
                    data-field="bdFault">
                    Hibatípus
                </th>
                <th data-sortable="true"
                    data-filter-control="input"
                    data-field="bdDowntime">
                    Állásidő
                </th>
                <th data-sortable="true"
                    data-filter-control="input"
                    data-field="bdOEE">
                    OEE
                </th>
                <th data-sortable="true"
                    data-filter-control="input"
                    data-field="bdM2p">
                    M2P
                </th>
                <th data-sortable="true"
                    data-filter-control="input"
                    data-field="bdPart">
                    Alkatrész
                </th>
                <th data-sortable="true"
                    data-filter-control="input"
                    data-field="bdCost">
                    Költség
                </th>
                <th data-sortable="true"
                    data-filter-control="input"
                    data-field="bdDmg">
                    Kár kód
                </th>
                <th data-sortable="true"
                    data-filter-control="input"
                    data-field="bdCuz">
                    Ok kód
                </th>
                <th data-sortable="true"
                    data-filter-control="input"
                    data-field="bdCont">
                    Ell.kód
                </th>
                <th data-sortable="true"
                    data-filter-control="input"
                    data-field="bdFaultdesc">
                    Hiba jellege
                </th>
                <th data-sortable="true"
                    data-filter-control="input"
                    data-field="bdContmeas">
                    <div>Ellenintézkedés</div><div>megtörtént</div>
                </th>
                <th data-sortable="true"
                    data-filter-control="input"
                    data-field="bdContmeasdesc">
                    Hibaelhárítás leállítása
                </th>
                <th data-sortable="true"
                    data-filter-control="input"
                    data-field="bdPaperok">
                    PM Lap
                </th>
                <th data-sortable="true"
                    data-filter-control="select"
                    data-field="bdIdaneed">
                    IDA kell
                </th>
                <th data-sortable="true"
                    data-filter-control="select"
                    data-field="bdStandard">
                    Sztenderd
                </th>
                <th data-sortable="true"
                    data-filter-control="input"
                    data-field="bdAddinfo">
                    Megjegyzés
                </th>
                <th data-sortable="true"
                    data-filter-control="select"
                    data-field="bdRepeat">
                    Ismétlődő
                </th>
                <th data-sortable="true"
                    data-filter-control="input"
                    data-field="bdOp">
                    Operátor
                </th>
                <th data-sortable="true"
                    data-filter-control="input"
                    data-field="bdMaint">
                    Karbantartó
                </th>
                <th data-sortable="true"
                    data-filter-control="input"
                    data-field="bdCreatedby">
                    Felvette
                </th>
                <th data-sortable="true"
                    data-filter-control="input"
                    data-field="bdCreateddate">
                    Felvette idő
                </th>
                <th data-sortable="true"
                    data-filter-control="input"
                    data-field="bdModifiedby">
                    Módosította
                </th>
                <th data-sortable="true"
                    data-filter-control="input"
                    data-field="bdModifieddate">
                    Módosította idő
                </th>
                <th data-field="bdId"
                    data-formatter="actionFormatter">
                    Action
                </th>
                
            </tr>
        </thead>
    </table>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(function () {
        $('#table').bootstrapTable()
    })
</script>

<script>
    function actionFormatter(value) {
        return '<a href="/qryBD/Edit/' + value + '"><i class="bi bi-pen"></i></a><a href="/qryBD/Details/' + value + '"><i class="bi bi-info-circle"></i></a><a href="/qryBD/Delete/' + value + '"><i class="bi bi-trash"></i></a>'
    };
</script>


@*<script>
    function getDates(startDate, stopDate) {
        var dateArray = [];
        var currentDate = moment(startDate);
        var stopDate = moment(stopDate);
        while (currentDate <= stopDate) {
            dateArray.push(moment(currentDate).format('YYYY-MM-DD'))
            currentDate = moment(currentDate).add(1, 'days');
        }
        return dateArray;
    }


    $('#ok').click(function () {

        var $table = $('#table')
        var from = $("input[type=date][name=date1]").val();
        var to = $("input[type=date][name=date2]").val();
        $table.bootstrapTable('filterBy', { bdStartdate: getDates(from, to) })



    })
</script>
*@

